@import "bootstrap"
@import "font-awesome"

main
  padding: 0 1em

footer
  text-align: center

.box-score-col
  padding-bottom: 0.5em

.overline
  text-decoration: overline

.q-action
  cursor: pointer

@media (min-width: $screen-md-min)
  .box-score-final-col
    border-right: thin solid $text-muted
