.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Filter
      .panel-body
        %form(role="form")
          .form-group
            %label(for="event") Event
            %select.form-control(name="event" ng-model="event")
              %option(value="all") All
              %option(ng-repeat="e in events" value="{{ e }}") {{ e }}
  .col-md-9
    %ul.list-group
      %li.list-group-item(ng-repeat="game in games | filter: gameFilter | orderBy:'date':true")
        .row
          .col-md-12.box-score-col.text-muted
            {{ game.date | formatDate }}
        .row
          .col-md-5.box-score-col
            %div
              %em.text-muted {{ game.event }}
            %div {{ game.teams[0] }}
            %div {{ game.teams[1] }}
          .col-md-1.box-score-col.box-score-final-col
            .text-muted Final
            %div {{ game | formatFinalScore:0 }}
            %div {{ game | formatFinalScore:1 }}
          .col-md-2.box-score-col
            .text-muted Regulation
            %div {{ game | formatScore:0:0 }}
            %div {{ game | formatScore:1:0 }}
          .col-md-2.box-score-col(ng-if="game.catches.length > 1")
            .text-muted Overtime
            %div {{ game | formatScore:0:1 }}
            %div {{ game | formatScore:1:1 }}
          .col-md-2.box-score-col(ng-if="game.catches.length > 2")
            .text-muted Sudden Death
            %div {{ game | formatScore:0:2 }}
            %div {{ game | formatScore:1:2 }}
