!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title QData
    - if @isDist
      %link(href="index.min.css" rel="stylesheet" type="text/css" media="all")
      %script(src="index.min.js" type="text/javascript")
    - else
      %link(href="index.css" rel="stylesheet" type="text/css" media="all")
      %script(src="bower_components/angular/angular.js" type="text/javascript")
      %script(src="index.js" type="text/javascript")
  %body(ng-app="qdata" ng-controller="ApplicationController")
    %table
      %thead
        %tr
          %th Name
          %th Region
          %th G
          %th W
          %th L
          %th PF
          %th PA
      %tbody
        %tr(ng-repeat="team in teams" ng-if="team.games > 0")
          %td {{ team.name }}
          %td {{ team.region | formatRegion }}
          %td {{ team.games }}
          %td {{ team.wins }}
          %td {{ team.loses }}
          %td {{ team.pointsFor }}
          %td {{ team.pointsAgainst }}
