!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="initial-scale=1,width=device-width")
    %title QData
    - for css in @cssFiles
      %link(href=css rel="stylesheet" type="text/css" media="all")
    - for js in @jsFiles
      %script(src=js type="text/javascript")
  %body(ng-app="qdata" ng-controller="qApplicationController")
    %header
      .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#nav-collapse")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand(href="#") Qdata
          .collapse.navbar-collapse#nav-collapse
            %ul.nav.navbar-nav
              %li(ng-class="{ active: navPath() == '/teams' }")
                %a(href="#/teams") Standings
              %li(ng-class="{ active: navPath() == '/games' }")
                %a(href="#/games") Box Scores
            %ul.nav.navbar-nav.navbar-right
              %li(ng-if="!me.auth")
                %a(href="" ng-click="login()")
                  %i.fa.fa-user
                  Login
              %li(ng-if="!!me.auth")
                %p.navbar-text
                  {{ me.displayName }}
              %li(ng-if="!!me.auth")
                %a(href="" ng-click="logout()")
                  %i.fa.fa-sign-out
                  Logout
    %main
      .container-fluid
        .row
          .col-xs-12
            .alert(ng-repeat="alert in alerts" class="alert-{{alert.type}}" role="alert")
              %strong {{ alert.title }}
              {{ alert.body }}
              %button.close(type="button" ng-click="closeAlert($index)") &times;
      %ng-view
    %footer
      %hr
        %p.text-muted
          Built and maintained by
          %a(href="mailto:jjg1914@rit.edu") John J. Glynn IV
        %p
          %a(href="https://github.com/qdata/qdata") Github
          &bullet;
          %a(href="https://github.com/qdata/qdata/issues") Issues
