.panel.panel-default
  .panel-heading.q-action(ng-click="showFilters = !showFilters")
    %h3.panel-title
      %i.fa(ng-class="{'fa-chevron-down': !showFilters, 'fa-chevron-up': showFilters}")
      Filters
  .panel-body(ng-if="showFilters")
    %form.form-inline(role="form")
      .form-group
        %label(for="name") Name
        %br
        %input.form-control(type="text" name="name" ng-model="filter.name")
      .form-group
        %label(for="games") Games
        %br
        %input.form-control(type="number" name="games"
                            min="0" step="1" ng-model="filter.games")
      -#.form-group
        %label(for="region") Region
        %br
        %select.form-control(name="region" ng-model="filter.region")
          %option(value="all") All
          %option(value="ma") {{ "ma" | formatRegion }}
          %option(value="mw") {{ "mw" | formatRegion }}
          %option(value="ne") {{ "ne" | formatRegion }}
          %option(value="nw") {{ "nw" | formatRegion }}
          %option(value="s") {{ "s" | formatRegion }}
          %option(value="sw") {{ "sw" | formatRegion }}
          %option(value="w") {{ "w" | formatRegion }}
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.q-action(title="Team Name" q-sortable="{ field: 'name', type: 'alpha' }")
          Team
        %th.q-action(title="Games Played" q-sortable="{ field: 'games', type: 'numeric', desc: true }")
          G
        %th.q-action(title="Wins" q-sortable="{ field: 'wins', type: 'numeric', desc: true }")
          W
        %th.q-action(title="Losses" q-sortable="{ field: 'loses', type: 'numeric', desc: true }")
          L
        %th.q-action(title="Snitch Catches" q-sortable="{ field: 'catches', type: 'numeric', desc: true }")
          S
        %th.q-action(title="Points For" q-sortable="{ field: 'pointsFor', type: 'numeric', desc: true }")
          PF
        %th.q-action(title="Points Against" q-sortable="{ field: 'pointsAgainst', type: 'numeric', desc: true }")
          PA
        %th.q-action(title="Point Difference" q-sortable="{ field: 'pointDiff', type: 'numeric', desc: true }")
          PD
        %th.q-action(title="Average Point Difference" q-sortable="{ field: 'averagePointDiff', type: 'numeric', desc: true }")
          %span.overline PD
        %th.q-action(title="Adjusted Point Difference" q-sortable="{ field: 'adjustedPointDiff', type: 'numeric', desc: true }")
          PD*
        %th.q-action(title="Average Adjusted Point Difference" q-sortable="{ field: 'averageAdjustedPointDiff', type: 'numeric', desc: true }")
          %span.overline PD*
        %th.q-action(title="Win Percentage" q-sortable="{ field: 'winPercent', type: 'numeric', desc: true }")
          W%
        %th.q-action(title="Pythagorean Wins" q-sortable="{ field: 'pwins', type: 'numeric', desc: true }")
          PW
        %th.q-action(title="Strength of Schedule" q-sortable="{ field: 'sos', type: 'numeric', desc: true }")
          SoS
    %tbody
      %tr(ng-repeat="team in teams | filter: filterp | orderBy: sort.field : sort.desc")
        %td {{ team.name }}
        /%td(data-title="'Region'" data-sortable="'region'") {{ team.region | formatRegion }}
        %td {{ team.games }}
        %td {{ team.wins }}
        %td {{ team.loses }}
        %td {{ team.catches }}
        %td {{ team.pointsFor }}
        %td {{ team.pointsAgainst }}
        %td
          %span(ng-class="{'text-success': team.pointDiff > 0,
                           'text-danger': team.pointDiff < 0 }")
            {{ team.pointDiff }}
        %td
          %span(ng-class="{'text-success': team.averagePointDiff > 0,
                           'text-danger': team.averagePointDiff < 0 }")
            {{ "%.3f" | sprintf: team.averagePointDiff }}
        %td 
          %span(ng-class="{'text-success': team.adjustedPointDiff > 0,
                           'text-danger': team.adjustedPointDiff < 0 }")
            {{ team.adjustedPointDiff }}
        %td 
          %span(ng-class="{'text-success': team.averageAdjustedPointDiff > 0,
                           'text-danger': team.averageAdjustedPointDiff < 0 }")
            {{ "%.3f" | sprintf: team.averageAdjustedPointDiff }}
        %td
          {{ "%.3f" | sprintf: team.winPercent }}
        %td 
          {{ "%.3f" | sprintf: team.pwins }}
        %td
          {{ "%.3f" | sprintf: team.sos }}
