.panel.panel-default
  .panel-heading.q-action(ng-click="showFilters = !showFilters")
    %h3.panel-title
      %i.fa(ng-class="{'fa-chevron-down': !showFilters, 'fa-chevron-up': showFilters}")
      Filters
  .panel-body(ng-if="showFilters")
    %form.form-inline(role="form")
      .form-group
        %label(for="name") Name
        %br
        %input.form-control(type="text" name="name" ng-model="filter.name")
      .form-group
        %label(for="games") Games
        %br
        %input.form-control(type="number" name="games"
                            min="0" step="1" ng-model="filter.games")
      -#.form-group
        %label(for="region") Region
        %br
        %select.form-control(name="region" ng-model="filter.region")
          %option(value="all") All
          %option(value="ma") {{ "ma" | formatRegion }}
          %option(value="mw") {{ "mw" | formatRegion }}
          %option(value="ne") {{ "ne" | formatRegion }}
          %option(value="nw") {{ "nw" | formatRegion }}
          %option(value="s") {{ "s" | formatRegion }}
          %option(value="sw") {{ "sw" | formatRegion }}
          %option(value="w") {{ "w" | formatRegion }}
.table-responsive
  %table.table.table-hover(ng-table="tableParams")
    %thead
      %tr
        %th(q-th="'name'") 
          %div(title="Team Name")
            Team
        %th(q-th="'games'")
          %div(title="Games Played")
            G
        %th(q-th="'wins'")
          %div(title="Wins")
            W
        %th(q-th="'loses'")
          %div(title="Losses")
            L
        %th(q-th="'catches'")
          %div(title="Snitch Catches")
            S
        %th(q-th="'pointsFor'") 
          %div(title="Points For")
            PF
        %th(q-th="'pointsAgainst'") 
          %div(title="Points Against")
            PA
        %th(q-th="'pointDiff'")
          %div(title="Point Difference")
            PD
        %th(q-th="'averagePointDiff'")
          %div(title="Average Point Difference")
            %span.overline PD
        %th(q-th="'adjustedPointDiff'")
          %div(title="Adjusted Point Difference")
            PD*
        %th(q-th="'averageAdjustedPointDiff'")
          %div(title="Average Adjusted Point Difference")
            %span.overline PD*
        %th(q-th="'winPercent'")
          %div(title="Win Percentage")
            W%
        %th(q-th="'pwins'")
          %div(title="Pythagorean Wins")
            PW
        %th(q-th="'sos'")
          %div(title="Strength of Schedule")
            SoS
    %tbody
      %tr(ng-repeat="team in $data")
        %td {{ team.name }}
        /%td(data-title="'Region'" data-sortable="'region'") {{ team.region | formatRegion }}
        %td {{ team.games }}
        %td {{ team.wins }}
        %td {{ team.loses }}
        %td {{ team.catches }}
        %td {{ team.pointsFor }}
        %td {{ team.pointsAgainst }}
        %td
          %span(ng-class="{'text-success': team.pointDiff > 0,
                           'text-danger': team.pointDiff < 0 }")
            {{ team.pointDiff }}
        %td
          %span(ng-class="{'text-success': team.averagePointDiff > 0,
                           'text-danger': team.averagePointDiff < 0 }")
            {{ "%.3f" | sprintf: team.averagePointDiff }}
        %td 
          %span(ng-class="{'text-success': team.adjustedPointDiff > 0,
                           'text-danger': team.adjustedPointDiff < 0 }")
            {{ team.adjustedPointDiff }}
        %td 
          %span(ng-class="{'text-success': team.averageAdjustedPointDiff > 0,
                           'text-danger': team.averageAdjustedPointDiff < 0 }")
            {{ "%.3f" | sprintf: team.averageAdjustedPointDiff }}
        %td
          {{ "%.3f" | sprintf: team.winPercent }}
        %td 
          {{ "%.3f" | sprintf: team.pwins }}
        %td
          {{ "%.3f" | sprintf: team.sos }}
